{% extends "base_board.html" %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ entry.title }}</h1>
    <li>Deadline: {{ entry.Days_till }}</li>

      <div class="container">
    {% for document in object_list %}
    <p> {{ document.docfile.name }} </p>
    <p> Created on: {{ document.created_on}} </p>
     <a href="/trello/card/<int:pk>/" class="btn btn-primary" target="_blank"> Download SLides</a>
    {% endfor %}
  </div>

    <small>
        {{ entry.created_on.date }} |&nbsp;
    </small>
    <p>{{ entry.body | linebreaks }}</p>
    <h3>Leave a comment:</h3>
    <form action="/trello/card/{{ entry.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}





</div>

{% endblock %}


